.event-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    /* margin-bottom:800px; */
}


.event-preview{
    height: 360px;
    width: 1080px;
    background-color: #040221;
 
    
}


.event-image-details{
    display: flex;
    
}
 
.event-details{
    padding: 10px;
    position: relative;
    width: 360px;
}

.E-header-details{
    margin: 20px;
}

.event-details-headers{
    justify-content: space-between;
}

.Title{
    font-size: 24px;
}

/* .event-details button{
    position:absolute;
    width: 250px;
    height: 40px;
    top: 300px;
    left: 50px;
    background-color: #ff0513;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
} */

.RegContainer{
    display: flex;
}

/* .event-details button:hover{
  
    background-color: white;
    color: #ff0513;
} */

.Registration{
    margin-left: 5px;
    padding: 10px;
    font-weight: bold;
}

.Registration input[type='radio'] {
    position: absolute;
    opacity: 0;
}

.Registration .content {
    border: 2px solid red;
    cursor: pointer;
    padding: 6px;
    color: white;
    width: 100px;



}

.Registration input[type='radio']:checked+.content {

    background-color: red;
}


.describtion-container{
     
    display: flex;
    justify-content: center;

}

.event-description{
    background-color: #040221;
    width: 1080px;
    height: 400px;
    padding: 30px;
}

.describtion-container{
    padding: 20px;
}




