
/* stylying reg dat table */
.Regdata{
    margin-top: 80px;
    /* margin: 50px; */
    display: flex;
    justify-content: center;
    background-color: #040221;
   
}


.Regdata td{
     padding: 20px;
}